- if @address.errors.any?
  - unless @address.valid?(:validates_address)
    - if errors = @address.errors.full_messages_for(column.to_sym)
      %ul
        - errors.each do |error|
          %li.e-message=error 