%footer.topfooter
  %ul
    %li
      %h2 FURIMAについて
      %p 会社概要（運営会社）
      %p プライバシーポリシー
      %p FURIMA利用規約
      %p ポイントに関する特約
    %li
      %h2 FURIMAを見る
      %p カテゴリー一覧
      %p ブランド一覧
    %li
      %h2 ヘルプ＆ガイド
      %p FURIMAガイド
      %p FURIMAロゴ利用ガイドライン
      %p お知らせ
  .logo
    = image_tag "/logo-white.png", height: '46px', width: '160px' 
    %p.footer_logo ©︎FURIMA