.complete{
  text-align: center;
  color: black;
}
.btn-default_complete{
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  margin: 24px 0px;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  margin-bottom: 36px;
  display: block;
  text-align: center;
}

.contents {
  padding: 10px;
}