%footer.mainfooter
  .footer
    .footer__list
      %ul
        %li 
          %a プライバシーポリシー
        %li 
          %a フリマ利用規約
        %li 
          %a 特定商取引に関する表記
    .footer__logo
      .footer__logo--image
        = link_to (image_tag "/logo.png", width: "170", height: "50"), root_path
        %p @Furima,inc.